@page "/movies/create"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@using Abc.Data
@inject IMoviesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Create Movie</PageTitle>

<h1>Create</h1>

<h2>Movie</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="movie" OnValidSubmit="AddMovie" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <MyEntityEditor Entity="movie" />
        </EditForm>
    </div>
</div>

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm] private Movie movie { get; set; } = default!;
    protected override void OnInitialized() => movie ??= new();
    private async Task AddMovie()
    {
        await repo.CreateAsync(movie);
        NavigationManager.NavigateTo("/movies");
    }
}
