@page "/movies/details"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@using Abc.Data
@inject IMoviesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Movie Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <MyEntityViewer Entity="movie" />
        </dl>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie movie;
    [SupplyParameterFromQuery] private Guid Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        movie = await repo.GetAsync(Id);
        if (movie is null) NavigationManager.NotFound();
    }
}
