@page "/currencies/create"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@using Abc.Data
@inject ICurrenciesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Create Currency</PageTitle>

<h1>Create</h1>

<h2>Currency</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="currency" OnValidSubmit="addCurrency" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <MyEntityEditor Entity="currency" />
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/currencies">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm] private Currency currency { get; set; } = default!;
    protected override void OnInitialized() => currency ??= new();
    private async Task addCurrency()
    {
        await repo.CreateAsync(currency);
        NavigationManager.NavigateTo("/currencies");
    }
}
