@page "/currencies/edit"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@using Microsoft.EntityFrameworkCore
@using Abc.Data
@inject IDbContextFactory<Abc.Infra.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Currency</PageTitle>

<h1>Edit</h1>

<h2>Currency</h2>
<hr />
@if (currency is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="currency" OnValidSubmit="updateCurrency" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="currency.Id" value="@currency.Id" />
                <MyPropertyEditor TValue="string" Id="code" Label="Code:" @bind-Value="currency.Code" />
                <MyPropertyEditor TValue="string" Id="name" Label="Name:" @bind-Value="currency.Name" />
                <MyPropertyEditor TValue="string" Id="details" Label="Details:" @bind-Value="currency.Details" />
                <MyPropertyEditor TValue="string" Id="majorUnitSymbol" Label="Major Unit Symbol:" @bind-Value="currency.MajorUnitSymbol" />
                <MyPropertyEditor TValue="string" Id="minorUnitSymbol" Label="Minor Unit Symbol:" @bind-Value="currency.MinorUnitSymbol" />
                <MyPropertyEditor TValue="double" Id="ratioOfMinorUnit" Label="Ratio Of Minor Unit:" @bind-Value="currency.RatioOfMinorUnit" />
                <MyPropertyEditor TValue="string" Id="numericCode" Label="Numeric Code:" @bind-Value="currency.NumericCode" />
                <MyPropertyEditor TValue="DateTime ?" Id="validFrom" Label="Valid From:" @bind-Value="currency.ValidFrom" />
                <MyPropertyEditor TValue="DateTime ?" Id="validTo" Label="Valid To:" @bind-Value="currency.ValidTo" />
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}
<div>
    <a href="/countries">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery] private Guid Id { get; set; }
    [SupplyParameterFromForm] private Currency currency { get; set; }
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        currency ??= await context.Currencies.FirstOrDefaultAsync(c => c.Id == Id);
        if (currency is null) NavigationManager.NotFound();
    }
    private async Task updateCurrency()
    {
        using var context = DbFactory.CreateDbContext();
        var dbCurrency = await context.Currencies.FirstOrDefaultAsync(c => c.Id == currency!.Id);
        if (dbCurrency == null)
        {
            NavigationManager.NotFound();
            return;
        }
        context.Entry(dbCurrency).CurrentValues.SetValues(currency);
        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CurrencyExists(currency!.Id)) NavigationManager.NotFound();
            else throw;
        }
        NavigationManager.NavigateTo("/currencies");
    }
    private bool CurrencyExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Currencies.Any(e => e.Id == id);
    }
}
