@implements IDisposable

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Movie Veebirakendus</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <MyNavLink Href="" Match="NavLinkMatch.All" IconClass="home-icon" Text="Home"></MyNavLink>
        <MyNavLink Href="Movies" IconClass="movie-icon" Text="Movies"></MyNavLink>
        <MyNavLink Href="counter" IconClass ="counter-icon" Text="Counter"></MyNavLink>
        <MyNavLink Href="Weather" IconClass="list-icon" Text="Weather"></MyNavLink>
        <MyNavLink Href="Auth" IconClass="lock-icon" Text="Auth Required"></MyNavLink>
        <AuthorizeView>
            <Authorized>
                <MyNavLink Href="Account/Manage" IconClass="person-icon" Text="@Name"></MyNavLink>
                <MyNavLink Href="Account/Logout" IconClass="arrow-icon" Text="Logout">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                </MyNavLink>
            </Authorized>
            <NotAuthorized>
                <MyNavLink Href="Account/Register" IconClass="register-icon" Text="Register"></MyNavLink>
                <MyNavLink Href="Account/Login" IconClass="badge-icon" Text="login"></MyNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string currentUrl;
    private string Name;

    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        var context = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Name = context.User.Identity?.Name ?? string.Empty;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

