<div class="d-flex align-items-center gap-2">
    <span>First</span>
    <span>Prev</span>

    <span>Page 1 / 20 </span>

    <span>Next</span>
    <span>Last</span>

    <span>Total: 100</span>

    <span>Rows: 6, 15, 25, 50</span>
</div>
 